/* NAVBAR */
.navbar{
 width: 100%;
 height: 80px;
 
}
div.me-auto.navbar-nav{
 gap:2rem;
 margin-left: 830px !important;
 font-size: 20px;
}
a.rigth.navbar-brand{
 font-size: 30px !important;
}
a{
 border: none;
}
div.mb-3.input-group{
 width: 80% !important;
 align-items: center !important;
 justify-content: center !important;
 overflow: hidden;
}
/* input.form-control{
 border: solid 1rem rgba(160,191,235,0.75) ;
} */
button.btn.btn-outline-secondary{
 width: 120px !important;
 border-radius: 0;
 background:rgba(160,191,235,0.75) !important ;
}
button.btn.btn-outline-secondary:hover{
 transform: scale(1.1);
 cursor: pointer;
}

.form-control{
 width: 50%;
}
/* PRODUCTS */
.container-prod{
 display: grid;
    
    list-style: none;
    grid-template-columns: repeat(3,1fr);
    
}

.container-prod Li{
list-style: none;

}
a:Link{
 text-decoration: none;
 color: black;
}


div.list-group-item{
border: 1px solid rgba(160,191,235,0.75);
}
.btn-info button{
 border: none;
background-color: rgb( 217,227,241);
width: 40px;
height: 40px;
}
.btn-info button:hover{
 transform: scale(1.1);
 cursor: pointer;
 background-color:rgba(160,191,235,0.75);
 border-radius: 50%;
}

ul{
 box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
 
 
 
 height:auto;
 border: 1px solid rgb(160,191,235);
}
 
  .image1{
   margin-top: 1rem;
   box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
  position: relative;
  width: 50%;
  margin-left: 3rem;
 }

  .imag2 {
 position: absolute;
 top: 0;
 left: 0 ;
 overflow: hidden;
 
}

.over:hover{
 transform: scale(1.1);
 cursor: pointer;
 background: #fff;
 opacity:0;
 position: absolute;
 overflow: visible;
 -webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}
.product-info{
 display: flex;
 flex-direction: column;
 gap: 1rem;
 margin: 1rem;
 color: black;

}
li.price{
 opacity: 0.8;
}
.btn-info{
 display: flex;
 justify-content: space-between;
}
.btn-info button{
 border-radius: 50%;
 width: 60px;
 height: 60px;
 color:rgba(160,191,235,0.75) ;
  box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(160,191,235,0.75);
  border: none
}

